In [21]:
import pandas as pd
import sqlalchemy as sa

In [22]:
engine = sa.create_engine('mssql+pyodbc://EUSETL/ETLDB?driver=SQL+Server+Native+Client+11.0?trusted_connection=yes')

In [23]:
df = pd.read_sql_table('ZenGAProject',con=engine)

In [25]:
df.drop(['DBKey','BUS_DAT','DOC_ID','PMT_SEQ_NO','STR_ID','CustomerKey','GiftCardLines','VisitCount','VisitNumber'], axis=1, inplace=True)

In [27]:
df.shape

(828151, 15)

In [28]:
df.head()

,TicketDate,TicketTime,PriorVisits,SaleLines,ReturnLines,NetAmount,NetRetailAmount,NetQSRAmount,StationGroup,UniqueItems,UniqueCategories,HasRetailProducts,HasQSRProducts,ReturnedBags,WillReturn
0,2015-08-31,14:07:30,0,4,0,13.20,13.20,0,Other,2,1,True,False,False,True
1,2015-08-31,14:15:12,30,2,0,6.60,6.60,0,Other,2,1,True,False,False,True
2,2015-08-31,14:17:04,1,3,0,6.16,6.16,0,Other,2,2,True,False,False,False
3,2015-08-31,14:25:18,0,1,0,2.80,2.80,0,Other,1,1,True,False,False,True
4,2015-08-31,14:25:49,0,1,0,3.40,3.40,0,Other,1,1,True,False,False,True

In [29]:
df.to_csv('eataly_data.csv')

In [30]:
df.sample(1000).to_csv('eataly_data_sample.csv', index=None)